.container {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: pink;
    background: linear-gradient(135deg, thistle, lightpink, mistyrose);
    background-image: url("../../images/stars1.jpg");
}