body {
  padding: 0;
  margin: 0;

  background-color: mistyrose;
  color: palevioletred;
  background-image: url("../../images/strawberry.jpg");
}

nav {
    background-color: palevioletred;
    color: white;
    text-align: center;
}

p {
    /*background-color: palevioletred;*/
    color: white;
    text-align: center;
}

img {
    border-radius: 10%;
    background-color: palevioletred;
    border: 2px ridge pink;
    max-width: 100%;
}

#wrapper {
    width: 90%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.book {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  gap: 0px;
}

.book img {
    display: block;
    width: 100%;
    height: auto;
}

.book > div {
    text-align: center;
    padding: 10px;
}

.book figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.im3 {
    grid-column: 7 / 10;
    grid-row: 1 / 3;
}

.im4 {
    grid-column: 10 / 13;
    grid-row: 1 / 3;
}

.im5 {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}

.im6 {
    grid-column: 4 / 7;
    grid-row: 3 / 6;
}

.im7 {
    grid-column: 7 / 10;
    grid-row: 3 / 6;
}

.im8 {
    grid-column: 10 / 13;
    grid-row: 3 / 6;
}

@media(max-width: 780px) {
#wrapper {
    margin-top: 500px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    float: none;
}

.book {
    grid-template-columns: auto auto;
    gap: 10px;
    /* space btw images */
    padding: 0px;
    /* space around grid */
    grid-auto-flow: row dense;
    width: 100%;
}

.book [class^="im"] {
    grid-column: auto !important;
    grid-row: auto !important;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.book figure { 
    margin: 0;
}
}